html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Street View pane */
#pano {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Map overlay in the bottom-right corner */
#map {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  width: 15vw; 
  height: 15vh; 
  z-index: 2; 
  border: 2px solid #fff; 
  transition: all 0.5s ease; 
}

/* Map expands when hovered */
#map:hover {
  width: 30vw; 
  height: 30vh; 
}

/* Swapped sizes */
#map.swapped {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#pano.swapped {
  width: 15vw;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border: 2px solid #fff;
  transition: all 0.5s ease; /* Smooth transition */
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-container {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.slider {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#slider-tooltip {
  position: absolute;
  bottom: -30px; /* Above the slider */
  left: 0;
  /*transform: translateX(-50%);*/
  background-color: #04AA6D;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none; /* Prevent interaction */
  white-space: nowrap;
}

#compass {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#compass img {
  width: 150%;
  height: 150%;
}

