/*----------------------------------------Landing Page----------------------------------------*/
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .landing-page {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #444;
    margin-bottom: 10px;
  }
  
  select {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Layout of buttons */
  .start-button {
    margin-top: 20px;
  }
  
  .settings button {
    margin-bottom: 10px;
  }

  #rounds-dropdown {
    position: relative;
    top: 10px;  /* Position it at the top of the page */
    left: 0px; /* Position it to the left */
    color: #444;
    padding: 10px;
    border-radius: 5px;
    z-index: 3; /* Ensure it's above other content */
  }
  
  #rounds-dropdown label {
    font-size: 1.0em;
    margin-right: 10px; /* Add space between the label and dropdown */
    font-weight: bold;
  }
  
  .dropdown-container {
    display: inline-block; /* Make the select box inline with the label */
    width: auto;
  }
  
  #rounds {
    font-size: 16px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    width: 50px; /* Adjust the width of the dropdown */
  }
  
  #rounds:hover {
    cursor: pointer; /* Change cursor to pointer when hovering over the dropdown */
  }

  .blurry-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imgs/worldmap.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    filter: blur(8px); /* Adjust the blur intensity */
    z-index: -1; /* Places the background behind other content */
}

.options-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  gap: 15px; /* Space between items */
  margin: 20px;
}

.option {
  display: flex;
  align-items: center; /* Align checkbox and text vertically */
  gap: 10px; /* Space between checkbox and text */
}

.timer-dropdown {
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
}